.main_wrapper {
  display: flex;
  height: 100vh;
}

.body_holder {
  padding: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_section {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.sticky_header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  padding: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  height: 50px;
}
